@media only screen and (orientation: landscape) {

  /* Defining each sectino background and styles
  * --------------------------------------- */
  #section0{
    background-image: url(/assets/images/lights.jpg);
    padding: 6% 0 0 0;
  }

  #section1{
    background-image: url(/assets/images/sushi.jpg);
    padding: 6% 0 0 0;
  }

  #section2{
    background-image: url(/assets/images/pub.jpg);
    padding: 6% 0 0 0;
  }
  #section3{
    background-image: url(/assets/images/people.jpg);
    padding: 6% 0 0 0;
  }
  #section4{
    background-image: url(/assets/img/big/universe5.jpg);
    padding: 6% 0 0 0;
  }

  div.logo {
    content: url(/assets/images/logo.png);
    width: 150px;
    margin: 0 auto;
  }​


}

@media only screen and (orientation: portrait) {



      /* Defining each section background and styles on portrait orientation
      * --------------------------------------- */
      #section0{
        background-image: url(/assets/images/lights.jpg);
        padding: 6% 0 0 0;
      }

      #section1{
        background-image: url(/assets/images/sushi.jpg);
        padding: 6% 0 0 0;
      }

      #section2{
        background-image: url(/assets/images/people.jpg);
        padding: 6% 0 0 0;
      }
      #section3{
        background-image: url(/assets/img/tablet/universe4.jpg);
        padding: 6% 0 0 0;
      }
      #section4{
        background-image: url(/assets/img/tablet/universe5.jpg);
        padding: 6% 0 0 0;
      }




}
